# FRS Analytics Pipeline Requirements
PyJWT
opencv-python
insightface
onnxruntime-gpu; platform_system == "Linux"
# onnxruntime; platform_system != "Linux"
torch
python-socketio[client]
PyYAML
numpy
requests
Pillow
psutil
